<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dbString" value="Data Source=(LocalDb)\LocalDBFlashcards;Integrated Security=True" />
		<add key="conString" value="Data Source=(LocalDb)\LocalDBFlashcards;Initial Catalog=Contacts;Integrated Security=True;Pooling=False" />
	</appSettings>
</configuration>
